@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr: #222327;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

nav {
    position: relative;
    width: 400px;
    height: 70px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

nav ul {
    display: flex;
    width: 350px;
}

nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

nav ul li.active a .icon {
    transform: translateY(-32px);
}

nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.5em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

nav ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #07f49e;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

nav ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

nav ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

nav ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

nav ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

nav ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}