@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body,
html {
  height: 100%;
  margin: 0;
  background: #03001e;
}


.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
  position: absolute;
  font-size: 6em;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #7303c0;
}

h2:nth-child(2) {
  color: #ec38bc;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
